# Ignore the Python virtual environment
__pycache__/
*.pyc

# Ignore the generated movie list (it changes constantly)
data/Movies/movies.json

# Ignore local app data
backend/data/portal_db.db
static/thumbnails/

# Ignore OS-specific files
.DS_Store
Thumbs.db
